/* .a{
    background-color: aquamarine;
    color: rgb(119, 0, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

.classBox{
    width: 50%;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(87, 174, 227);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
} */

.clock{
    background-color: rgb(18, 54, 54);
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: aliceblue;
    font-family: serif;
    border: 20px rgb(255, 189, 142) solid transparent;
    border-radius: 200px;
    height: 80px;
    width: 200px;
    padding: 20px;
    padding-top: 50px;
    margin-top: 50px;

}